name: Deploy to Google App Engine

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install google-auth google-cloud-storage django-storages[google]

    - name: Collect static files
      run: python manage.py collectstatic --noinput
      env:
        DJANGO_SETTINGS_MODULE: core.settings
        DJANGO_DEBUG: "False"
        DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2

    - name: Deploy to App Engine
      run: gcloud app deploy app.yaml --quiet
      env:
        DJANGO_SETTINGS_MODULE: core.settings
        DJANGO_DEBUG: "False"
        DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
        ALLOWED_HOSTS: ".el.r.appspot.com"
        DB_NAME: ${{ secrets.DB_NAME }}
        DB_USER: ${{ secrets.DB_USER }}
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        GS_BUCKET_NAME: ${{ secrets.GS_BUCKET_NAME }}
        GOOGLE_CLOUD_PROJECT: ${{ secrets.GOOGLE_CLOUD_PROJECT }} 